<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>CrearSession</display-name>
    <servlet-name>CrearSession</servlet-name>
    <servlet-class>com.curso.CrearSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearSession</servlet-name>
    <url-pattern>/CrearSession</url-pattern>
  </servlet-mapping>
  <display-name>sesiones</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LeerSession</display-name>
    <servlet-name>LeerSession</servlet-name>
    <servlet-class>com.curso.LeerSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerSession</servlet-name>
    <url-pattern>/LeerSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SesionProducto</display-name>
    <servlet-name>SesionProducto</servlet-name>
    <servlet-class>com.curso.SesionProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SesionProducto</servlet-name>
    <url-pattern>/SesionProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerProducto</display-name>
    <servlet-name>LeerProducto</servlet-name>
    <servlet-class>com.curso.LeerProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerProducto</servlet-name>
    <url-pattern>/LeerProducto</url-pattern>
  </servlet-mapping>
</web-app>