<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>EnviarNombre</display-name>
    <servlet-name>EnviarNombre</servlet-name>
    <servlet-class>com.curso.EnviarNombre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarNombre</servlet-name>
    <url-pattern>/EnviarNombre</url-pattern>
  </servlet-mapping>
  <display-name>Ejercicio01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearSession</display-name>
    <servlet-name>CrearSession</servlet-name>
    <servlet-class>com.curso.CrearSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearSession</servlet-name>
    <url-pattern>/CrearSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Matriculacion</display-name>
    <servlet-name>Matriculacion</servlet-name>
    <servlet-class>com.curso.Matriculacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Matriculacion</servlet-name>
    <url-pattern>/Matriculacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoCursos</display-name>
    <servlet-name>ListadoCursos</servlet-name>
    <servlet-class>com.curso.ListadoCursos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoCursos</servlet-name>
    <url-pattern>/ListadoCursos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarCurso</display-name>
    <servlet-name>BorrarCurso</servlet-name>
    <servlet-class>com.curso.BorrarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarCurso</servlet-name>
    <url-pattern>/BorrarCurso</url-pattern>
  </servlet-mapping>
</web-app>