<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.curso.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <display-name>server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletForm2</display-name>
    <servlet-name>ServletForm2</servlet-name>
    <servlet-class>com.curso.ServletForm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForm2</servlet-name>
    <url-pattern>/ServletForm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletForm01</display-name>
    <servlet-name>ServletForm01</servlet-name>
    <servlet-class>com.curso.ServletForm01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForm01</servlet-name>
    <url-pattern>/ServletForm01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletForm02</display-name>
    <servlet-name>ServletForm02</servlet-name>
    <servlet-class>com.curso.ServletForm02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForm02</servlet-name>
    <url-pattern>/ServletForm02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletForm03</display-name>
    <servlet-name>ServletForm03</servlet-name>
    <servlet-class>com.curso.ServletForm03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForm03</servlet-name>
    <url-pattern>/ServletForm03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletForm04</display-name>
    <servlet-name>ServletForm04</servlet-name>
    <servlet-class>com.curso.ServletForm04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForm04</servlet-name>
    <url-pattern>/ServletForm04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletForm05</display-name>
    <servlet-name>ServletForm05</servlet-name>
    <servlet-class>com.curso.ServletForm05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForm05</servlet-name>
    <url-pattern>/ServletForm05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInvocado</display-name>
    <servlet-name>ServletInvocado</servlet-name>
    <servlet-class>com.curso.ServletInvocado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInvocado</servlet-name>
    <url-pattern>/ServletInvocado</url-pattern>
  </servlet-mapping>
</web-app>